.myPath-container {
    background-color: rgb(255, 255, 255);
}

  .myPath-timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

 /* .myPath-timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #4A628A;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  } */

  .left::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #4A628A;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }



  .myPath-card{
    background-color: rgb(165, 100, 100);
  }

  .right{
    left: 
  }



