.navbar {
    background-color: #ACE0E4 !important;
}

.navbar .navbar-brand {
    color: #4A628A !important;
    font-weight: bold;
}

.navbar .nav-link {
    color: #4A628A !important;
    padding: 10px 15px;
    margin-left: 30px;
}

.navbar .nav-link:first-child {
    margin-left: 0;
}

.navbar-collapse .nav-link {
    margin: 0;
    padding: 10px 15px; 
}

.navbar .nav-link:hover {
    background-color: #a3d5d9; 
    border-radius: 5px; 
}



