/* Navbar styles */
.navbar {
    background-color: #ACE0E4 !important; /* Force dark background color */
}

.navbar .navbar-brand {
    color: #4A628A !important;
    font-weight: bold;
}

.navbar .nav-link {
    color: #4A628A !important; /* Force white text for links */
    padding: 10px 15px;
    margin-left: 30px;/* Spacing around links */
}

.navbar .nav-link:first-child {
    margin-left: 0; /* Remove left margin from the first link */
}

.navbar-collapse .nav-link {
    margin: 0; /* Reset margin */
    padding: 10px 15px; /* Set consistent padding */
}

.navbar .nav-link:hover {
    background-color: #a3d5d9; /* Light background on hover */
    border-radius: 5px; /* Rounded corners */
}



