.projects-container {
    background-color: rgb(255, 255, 255);
    margin :0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.projects{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}