.socials-container {
    background-color:#4A628A;
    margin :0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.socials-card{
  width: 200px;
  background-color: #B9E5E8;;
}

img{
  width: 100px;
  height: auto;
}

